<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>448618902343-cd7bo35trvf6hheslvarcrmqb41g9m82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448618902343-cd7bo35trvf6hheslvarcrmqb41g9m82</string>
	<key>API_KEY</key>
	<string>AIzaSyBaaH1JSx6WMSHzIEazXTtxspy9d24HJ40</string>
	<key>GCM_SENDER_ID</key>
	<string>448618902343</string>
	<key>PLIST_VERSION</key>
	<string>2</string>
	<key>BUNDLE_ID</key>
	<string>com.RosalieRabbit.MatePet</string>
	<key>PROJECT_ID</key>
	<string>matepet-82af9</string>
	<key>STORAGE_BUCKET</key>
	<string>matepet-82af9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:448618902343:ios:896758f040065033</string>
	<key>DATABASE_URL</key>
	<string>https://matepet-82af9.firebaseio.com</string>
</dict>
</plist>
